.footer {
    background-color: white;
    color: whitesmoke;
    text-align: end;
    .footer__links {
        background-color: white;
        font-style: oblique;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 10px;
        p {
            color: whitesmoke;
        }
        
    }
}