.bodyruiseñor {
    background: linear-gradient(white,black);

    .texto{
        color: black;
        font-size: large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      
      h1 {
      text-align: center;
      font-style:oblique;
      color: black !important;
      a {
        color: black;
      }
      }
      
      h2 {
        text-align: center;
        color:black;
      }
      
      p {
       color: black;
       margin-left: 50px;
       margin-right: 50px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      
      li {
        margin-left: 50px;
        color: whitesmoke;
      }
      
      a {
        color: whitesmoke !important;
      }
   
  }

  .bodyruiseñor .cabeza h1 a {
    color: black !important;
  }

  .bodyruiseñor .cabeza .row a {
    color: black !important;
  }

  .bodyruiseñor h3 {
    color: black;
    font-size: medium;
    margin-right: 100px;
    margin-top: 100px;
  }

  .bodyruiseñor .carousel-item {
    align-content: center;
    text-align: center;
    margin-top: 100px;
  }

.bodyruiseñor h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  color: whitesmoke;
  font-size: larger;
  margin-top: 100px;
}

  .bodyruiseñor .block {
    width: 100%;
    margin-top: 100px;
    display: grid;
    padding: 20px;
    overflow: auto;
    align-content: space-around;
    text-align: right;


  }

  .bodyruiseñor .footer p {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 100px;
  }