.tittle {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom : -50px;
}


.cabecera__links {
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 30px;
    list-style: none;
    border-radius: 05px;
    padding: 50px;
    text-align: center;
    margin-bottom: 60px;
}

.cabecera__links li {
    color: black;
    background-image: linear-gradient( to left, lightblue, pink, black);
    justify-content: space-between;
    width: 200px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    border-color: lightblue;
    border-style:groove;
    border-radius: 05px;
}


.cabecera__links li a {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.contact {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}


.articulo p {
    background-color: black;
    margin-top: 60px;
}

.articulo__contenido {
    font-style:oblique;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.articulo__formulario{
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: end;
    display: inline;
}

.buscador{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    display: inlineblock;

}

.imagen {
    margin-left: 60px;
    margin-top: 40px;
    cursor:pointer;
    text-align: center;
}

.imagen__b {
    margin-left: 30px;
    margin-top: 40px;
    cursor:pointer;
    text-align: center;
}



.contenedor {
    border: solid;
    background-image: linear-gradient(to right, white, blue);
    margin-left: 150px;
    margin-top: 60px;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1000px;
    height: 100px;
    overflow: auto;
}


.piedepagina {
    color: black;
    text-align: end;

}

.piedepagina__links {
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

.piedepagina__links--inicio {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-click {
    background-image: radial-gradient( lightblue, black);
    font-size: 1.5rem;
    color: #ffffff;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: padding 0.3s ease;
  }
  
  .btn-click:active {
    padding: 1rem;
  }
