.cabeza .tittle {
  color: colorT;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin-bottom: -50px;
  transition: all 0.5s easy;
}
.cabeza ul {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 30px;
  list-style: none;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  margin-bottom: 60px;
}
.cabeza ul li {
  color: black;
  background-image: linear-gradient(to left, lightblue, pink, black);
  justify-content: space-between;
  width: 200px;
  text-align: center;
  display: inline-block;
  padding: 20px;
  border-color: lightblue;
  border-style: groove;
  border-radius: 5px;
}
.cabeza ul li a {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cartas {
  display: flexbox;
  flex-wrap:wrap-reverse;
}

.buscador {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 20px;
  display: inlineblock;
}

.desarrollo .btn-click {
  background-image: radial-gradient(lightblue, black);
  font-size: 1.5rem;
  color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.desarrollo .articulo p {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.desarrollo .articulo p .articulo__contenido {
  font-style: oblique;
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
.desarrollo .articulo p .articulo__contenido articulo__formulario {
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: end;
  display: inline;
}
.desarrollo .button {
  background-color: lightgrey;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: black;
  padding: 5px;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
}
.desarrollo .imagen {
  display: flexbox;
  margin-left: 60px;
  margin-top: 40px;
  cursor: pointer;
  text-align: center;
}
.desarrollo .imagen__b {
  margin-left: 30px;
  margin-top: 40px;
  cursor: pointer;
  text-align: center;
}
.desarrollo .contenedor {
  border: solid;
  background-image: linear-gradient(to right, white, blue);
  margin-left: 150px;
  margin-top: 60px;
  padding: 10px;
  display: inline-block;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 1000px;
  height: 100px;
  overflow: auto;
}

.piedepagina {
  color: black;
  text-align: end;
}
.piedepagina .piedepagina__links {
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 10px;
}
.piedepagina .piedepagina__links .piedepagina__links--inicio {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}/*# sourceMappingURL=styles.css.map */