@charset "UTF-8";
.cuerpo {
  background-color: black;
}

.cuerpo .row {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  color: black;
}

.cuerpo .row h9 {
  color: whitesmoke;
}

.cuerpo .nav-item a {
  color: white;
}

.bodyporco {
  background-color: red;
}
.bodyporco .texto {
  color: aliceblue;
  justify-content: center;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bodyporco h1 {
  text-align: center;
  font-style: oblique;
  color: red;
}
.bodyporco h2 {
  text-align: center;
  color: whitesmoke;
}
.bodyporco p {
  color: whitesmoke;
  justify-content: center;
}
.bodyporco li {
  margin-left: 50px;
  color: whitesmoke;
}
.bodyporco a {
  color: whitesmoke !important;
}

.bodyporco .block {
  width: 100%;
  margin-left: 100px;
  margin-top: 100px;
  display: grid;
  padding: 20px;
  overflow: auto;
}

.bodytesoro {
  background-color: black;
}
.bodytesoro .texto {
  color: aliceblue;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bodytesoro h1 {
  text-align: center;
  font-style: oblique;
  color: red;
}
.bodytesoro h2 {
  text-align: center;
  color: whitesmoke;
}
.bodytesoro p {
  color: whitesmoke;
}
.bodytesoro li {
  margin-left: 50px;
  color: whitesmoke;
}
.bodytesoro a {
  color: whitesmoke !important;
}

.bodytesoro .block {
  width: 100%;
  margin-left: 100px;
  margin-top: 100px;
  display: grid;
  padding: 20px;
  overflow: auto;
}

.bodynov {
  background-image: linear-gradient(rgb(58, 39, 39), black);
}

.bodynov .nav-item a {
  color: white;
}

.bodynov .contenedor {
  border: solid;
  border-color: black;
  background-color: rgb(64, 51, 51);
  margin-left: 150px;
  margin-top: 60px;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 1000px;
  height: 500px;
  overflow: auto;
  color: whitesmoke;
}

.bodynov .contenedor h4 {
  color: whitesmoke;
  font-size: 30px;
}

.bodynov .block {
  width: 100%;
  margin-left: 100px;
  margin-top: 100px;
  display: grid;
  padding: 20px;
  overflow: auto;
}

.bodyperfume {
  background: linear-gradient(gold, black);
}
.bodyperfume .texto {
  color: aliceblue;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bodyperfume h1 {
  text-align: center;
  font-style: oblique;
  color: red;
}
.bodyperfume h2 {
  text-align: center;
  color: whitesmoke;
}
.bodyperfume p {
  color: whitesmoke;
}
.bodyperfume li {
  margin-left: 50px;
  color: whitesmoke;
}
.bodyperfume a {
  color: whitesmoke !important;
}

.bodyperfume .block {
  width: 100%;
  margin-left: 100px;
  margin-top: 100px;
  display: grid;
  padding: 20px;
  overflow: auto;
}

.bodyruiseñor {
  background: linear-gradient(white, black);
}
.bodyruiseñor .texto {
  color: black;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bodyruiseñor h1 {
  text-align: center;
  font-style: oblique;
  color: black !important;
}
.bodyruiseñor h1 a {
  color: whitesmoke;
}
.bodyruiseñor h2 {
  text-align: center;
  color: black;
}
.bodyruiseñor p {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bodyruiseñor li {
  margin-left: 50px;
  color: whitesmoke;
}
.bodyruiseñor a {
  color: whitesmoke !important;
}

.bodyruiseñor .block {
  width: 100%;
  margin-left: 100px;
  margin-top: 100px;
  display: grid;
  padding: 20px;
  overflow: auto;
}

.bodypajaritos {
  background: linear-gradient(lightblue, grey);
}
.bodypajaritos .texto {
  color: black;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bodypajaritos h1 {
  text-align: center;
  font-style: oblique;
  color: red;
}
.bodypajaritos h2 {
  text-align: center;
  color: whitesmoke;
}
.bodypajaritos p {
  color: whitesmoke;
}
.bodypajaritos li {
  margin-left: 50px;
  color: whitesmoke;
}
.bodypajaritos a {
  color: whitesmoke !important;
}

.bodypajaritos .block {
  width: 100%;
  margin-left: 100px;
  margin-top: 100px;
  display: grid;
  padding: 20px;
  overflow: auto;
}/*# sourceMappingURL=styles.css.map */