body {
    
    background-color: black;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background-color: black;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    

}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: palevioletred;
    color: whitesmoke;
    font-size: 20px;
    align-items: row;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


a {
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: -20px;

}
div {
 margin-left: 200px;
 
    }